@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");
@import url("http://fonts.cdnfonts.com/css/bookman-old-style:wght@600");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-family: "Barlow", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* common css here  */
.navlink {
  text-decoration: none;
  color: inherit;
}

/* home page css here  */
.home-page {
  width: 100%;
  min-height: 100vh;
}

/* image slider css here  */
.image-slider {
  width: 100%;
  height: 100vh;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6%;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 2%;
  position: absolute;
  z-index: 99;
  width: 100%;
  box-shadow: 0 0 3px 1.5px rgba(0, 0, 0, 0.5);
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar .logo h2 {
  color: #fff;
}

.navbar .menus {
  color: #fff;
  font-weight: 900;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .menus .navlink {
  margin-right: 30px;
} */

.donate {
  background: #ffbe0b;
  color: #000;
  padding: 1.5% 4%;
  border-radius: 6px;
  box-shadow: 0 0 2px 1px rgba (255, 255, 255, 0.6);
}

.slide-container {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: auto;
}

.mySlides {
  width: 100%;
  height: 100%;
}

.fade {
  animation: fade 1.7s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

.slide-img {
  width: 100%;
  height: 100%;
}

.image-slider > p {
  color: #ffbe0b;
  position: absolute;
  bottom: 4%;
  left: 0;
  font-size: 24px;
  text-align: center;
  padding: 0 5%;
  font-weight: 900;
}

/* projects cards css here  */
.projects {
  width: 100%;
  padding: 5% 2%;
}

.projects h1 {
  color: #0047b9;
  font-weight: 600;
  padding: 2% 3%;
  font-size: 40px;
}

.projects-cards-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.projects-card {
  width: 17%;
  height: 33.5vh;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background: rgba(0, 71, 185, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 15%;
  opacity: 0;
}

.projects-card-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid rgba(0, 71, 185, 0.4);
  opacity: 1;
}

.projects-card-logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.gallery {
  width: 100%;
  padding: 5% 2%;
}

.gallery > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gallery h1 {
  color: #0047b9;
  font-weight: 600;
  padding: 2% 3%;
  font-size: 40px;
}

.gallery .navlink {
  text-decoration: underline;
  color: #0047b9;
  font-size: 20px;
  font-weight: 400;
}

.gallery-images {
  padding-left: 1.5%;
}

.gallery-images img {
  margin-left: 1.5%;
}

.contact-cover {
  width: 100%;
  padding: 2% 0;
}

.contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 3%;
}

.first-section {
  width: 38%;
  padding: 2% 0;
}

.first-section h1 {
  color: #0047b9;
  font-weight: 600;
  font-size: 40px;
}

.about-text {
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  margin: 4% 0;
}

.location-map {
  width: 90%;
  height: 55vh;
  border: 0.5px solid #0047b9;
}

.form-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2% 2%;
  background: #0047b9;
  border-radius: 10px;
}

.form-section label {
  color: #ffffff;
  font-size: 20px;
  padding-top: 2%;
  padding-left: 5%;
}

.form-section h1 {
  color: #ffbe0b;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.form-section input,
.form-section textarea {
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.6);
  padding: 2.5% 2%;
  outline: rgba(255, 255, 255, 0.6);
  color: #0047b9;
  font-weight: 900;
  font-size: 22px;
}

.form-section textarea {
  resize: none;
}

.form-section .btn {
  border-radius: 20px;
  border: none;
  background: #ffbe0b;
  color: #0047b9;
  font-size: 24px;
  font-weight: 900;
  margin-top: 2%;
  cursor: pointer;
  padding: 2% 0;
}

.contact-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 0;
}

.location,
.email,
.phone,
.instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 25%;
}

.contact-info i {
  color: #0047b9;
  font-size: 40px;
}

.phone {
  width: 15%;
}

.contact-info p {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  width: 60%;
}

.copyright-text {
  padding: 2% 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright-text p {
  font-weight: 600;
  font-size: 14px;
}

.back-to-top {
  cursor: pointer;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 2%;
  height: 4vh;
  background: #000;
}

/* about us css here  */
.about-page {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.about-details {
  padding: 8.5% 6%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.founder-and-mission {
  width: 60%;
}

.founder-and-director {
}

.founder-and-director h1 {
  margin-bottom: 2%;
  color: #0047b9;
  font-weight: 600;
}

.founder-and-director p {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.our-mission {
  margin-top: 5%;
}

.our-mission h1 {
  margin-bottom: 2%;
  color: #0047b9;
  font-weight: 600;
}

.our-mission p {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.founder-img {
}

.founder-img p {
  font-size: 18px;
  font-weight: 900;
}

.scores {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(255, 190, 11, 0.2);
  box-shadow: 0 0 40px rgb(255, 190, 11, 0.3);
  padding: 3% 0;
}

.score-card {
  width: 15%;
}

.score-card > p:nth-child(1) {
  color: #0047b9;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

.score-card > p:nth-child(2) {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  line-height: 28.17px;
  color: #000;
}

.future-goals {
  padding: 4% 6%;
}

.future-goals h1 {
  margin-bottom: 2%;
  color: #0047b9;
  font-weight: 600;
}

.future-goals p {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.our-team {
  padding: 4% 6%;
}

.our-team h1 {
  margin-bottom: 2%;
  color: #0047b9;
  font-weight: 600;
}

.our-team-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-team-card h3 {
  text-align: center;
  padding: 1% 0;
  font-weight: 600;
}

.our-team-card p {
  text-align: center;
  padding: 1% 0;
  font-weight: 400;
}

/* drop down menu css here  */
.dropbtn {
  background: transparent;
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  font-weight: 900;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  margin-left: -30px;
}

.dropdown-content p {
  cursor: pointer;
  color: #fff;
  /* padding: 12px 16px; */
  padding: 10% 5%;
  display: block;
  text-transform: uppercase;
  text-align: center;
}

.dropdown-content p:hover {
  background-color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* drop down menu css end here  */

/* projects pages css here  */
.project-page {
  width: 100%;
  min-height: 100vh;
}

.hero-section {
  width: 100%;
  height: 100vh;
  object-fit: contain;
}

.hero-section > img:nth-child(2) {
  width: 100%;
  height: 100%;
}

.details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8% 8%;
  gap: 5%;
}

.details img {
  /* width: 600px; */
  width: 80%;
  border-radius: 50%;
  border: 20px solid rgba(17, 86, 150, 0.22);
}

.project-page h1 {
  font-family: "Bookman Old Style", sans-serif;
  color: rgba(0, 71, 185, 1);
}

.details h2 {
  font-family: "Bookman Old Style", sans-serif;
  color: rgba(255, 190, 11, 1);
  font-weight: 600;
  padding: 2% 0;
}

.details p {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.why-imp {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 900;
  width: 100%;
  padding: 2% 7%;
}

.why-imp h1 {
  margin-bottom: 2%;
}

.project-page > .projects {
  padding: 2% 3.5%;
}

/* gallery page css here  */

.gallery-page {
  min-height: 100vh;
  width: 100%;
}

.gallery-page > .copyright-text {
  background: rgba(0, 71, 185, 0.4);
  color: #fff;
}

.images-container {
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 71, 185, 0.4);
}

.images-container h1 {
  padding: 2% 0;
  text-align: center;
}

.images-container h1 span {
  padding: 1% 0;
  font-family: "Barlow", sans-serif;
  color: #fff;
  border-bottom: 4px solid #fff;
}

.images {
  width: 100%;
  min-height: 100vh;
}

.images img {
  flex-basis: 33.33%;
  cursor: pointer;
  width: 33.33%;
}

/* donate page css here */
.donate-page {
  width: 100%;
  min-height: 100vh;
}

.donate-page-hero-section {
  width: 100%;
  height: 100vh;
}

.donate-page-hero-section img:nth-child(2) {
  width: 100%;
  height: 100%;
}

.contribute {
  width: 100%;
  width: 80%;
  background: rgba(0, 71, 185, 1);
  border-radius: 10px;
  padding: 4% 8%;
  margin: auto;
  margin-top: 5%;
}

.contribute h1,
.contribute h2 {
  font-family: "Bookman Old Style", sans-serif;
  color: rgba(255, 190, 11, 1);
  text-align: center;
}

.donation-amount {
  margin: auto;
  width: 100%;
  padding: 4% 0;
}

.donation-amount p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}

.selected-amounts {
  padding: 1.5% 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-amounts div {
  cursor: pointer;
  font-size: 35px;
  font-weight: 900;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  width: 20%;
  padding: 3% 0;
  text-align: center;
  font-family: "Bookman Old Style", sans-serif;
}

.donation-amount input {
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  width: 100%;
  padding: 2.5% 3%;
  margin-top: 2%;
  outline: none;
  color: #000;
  font-weight: 900;
}

.donation-amount input:focus {
  outline: 2px solid rgba(255, 255, 255, 0.7);
}

.payment-gateway {
  width: 100%;
  text-align: center;
  padding: 2% 0;
}

.payment-gateway h2 {
}

.payment-gateway div {
  padding: 3% 0;
}

.payment-gateway div input {
  margin: 0 1%;
  scale: 1.5;
}

.payment-gateway div span {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  color: #fff;
  margin-right: 5%;
}

.proceed-btn-container {
  padding: 4% 0;
  width: 100%;
  text-align: center;
}

.proceed {
  cursor: pointer;
  font-family: "Bookman Old Style", sans-serif;
  font-weight: 900;
  color: #0047b9;
  font-size: 28px;
  border: none;
  background: #ffbe0b;
  box-shadow: 3px 3px 6px rgba(255, 190, 11, 0.25);
  border-radius: 15px;
  padding: 1% 18%;
}

.donate-page > h1 {
  color: #0047b9;
  text-align: center;
  padding: 3% 0;
  font-family: "Bookman Old Style", sans-serif;
}

.qr-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.qr-img-container p {
  font-family: "Barlow", sans-serif;
  font-size: 24px;
}

/* contact page css here  */
.contact-page {
  width: 100%;
  min-height: 100vh;
}

.contact-page-hero-section {
  width: 100%;
  height: 100%;
}

.contact-page-hero-section img:nth-child(2) {
  width: 100%;
  height: 100%;
}

.fa-bars {
  display: none;
}

/* responsive css here  */

@media screen and (max-width: 425px) {
  .fa-bars {
    display: block;
  }
  .home-page {
    /* border: 1px solid red; */
    width: 100%;
  }

  .image-slider {
    width: 100%;
    /* border: 1px solid green; */
  }

  .navbar {
    width: 100%;
    /* border: 1px solid yellow; */
    padding: 0 2%;
  }

  .logo {
    /* border: 1px solid green; */
  }

  #menus {
    /* border: 1px solid red; */
    /* display: none; */
    position: absolute;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    max-height: 0px;
    overflow: hidden;
    z-index: 99;
  }

  .logo-img {
    width: 50px;
  }

  .logo h2 {
    font-size: 18px;
  }

  .fa-bars {
    cursor: pointer;
    color: #fff;
    font-size: 20px;
  }

  .slide-img {
    width: 100%;
    object-fit: cover;
  }

  .projects-cards-container {
    margin: auto;
    /* border: 1px solid red; */
    overflow-x: scroll;
    white-space: nowrap;
    width: 60%;
    display: block;
    text-align: center;
    padding: 2% 5%;
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
  }

  .projects-card {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30%;
  }

  .gallery-images {
    margin: auto;
    /* border: 1px solid red; */
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    display: block;
    text-align: center;
    padding: 2% 5%;
  }

  .text {
    word-wrap: break-word;
  }

  .contact {
    flex-direction: column;
    width: 100%;
  }

  .first-section {
    width: 100%;
  }

  .location-map {
    width: 100%;
  }

  .location-map iframe {
    width: 99.99%;
  }

  .form-section {
    width: 100%;
  }

  .contact-info {
    flex-direction: column;
    padding: 5% 0;
  }

  .contact-info > div {
    width: 100%;
    padding: 1% 0;
  }

  .copyright-text p {
    font-size: 12px;
  }

  .back-to-top {
    width: 20px;
  }

  /* about us css here  */
  .about-page {
    /* border: 1px solid red; */
  }

  .about-details {
    /* border: 1px solid green; */
    flex-direction: column-reverse;
  }

  .founder-and-mission {
    /* border: 1px solid red; */
    width: 100%;
    padding: 2% 0;
  }

  .founder-and-director {
    /* border: 1px solid green; */
    width: 100%;
  }

  .our-mission {
    /* border: 1px solid red; */
    width: 100%;
  }

  .founder-img {
    padding: 10% 0;
  }

  .scores {
    justify-content: space-between;
    padding: 3% 2%;
  }

  .score-card {
    width: 33.33%;
  }

  .score-card > p:nth-child(1) {
    font-size: 35px;
  }

  .score-card > p:nth-child(2) {
    font-size: 16px;
  }

  .our-team-cards {
    padding: 5% 0;
    overflow-x: scroll;
  }

  .our-team-card {
    margin: 0 10%;
  }

  .copyright-text {
    padding: 5% 5%;
  }

  .dropdown-content {
    left: 140%;
    top: -340%;
  }

  .dropdown-content p {
    padding: 7% 5%;
  }

  .images img {
    flex-basis: 100%;
    cursor: pointer;
    width: 100%;
  }

  .donate-page-hero-section img:nth-child(2) {
    width: 100%;
    object-fit: cover;
  }

  .contribute {
    width: 90%;
  }

  .selected-amounts > div {
    width: 22%;
    font-size: 22px;
    padding: 3% 2.5%;
  }

  .donate-page h1 {
    padding: 5% 0;
  }

  .hero-section img:nth-child(2) {
    width: 100%;
    object-fit: cover;
  }

  .details {
    flex-direction: column;
  }

  .details > div {
    padding: 5% 0;
  }

  .details > div > h2 {
    font-size: 22px;
  }

  .details > div > p {
    font-size: 18px;
  }

  .project-page h1 {
    font-size: 33px;
  }
}

@media screen and (min-width: 425px) and (max-width: 1024px) {
  .fa-bars {
    display: block;
  }
  .home-page {
    /* border: 1px solid red; */
    width: 100%;
  }

  .image-slider {
    width: 100%;
    /* border: 1px solid green; */
  }

  .navbar {
    width: 100%;
    /* border: 1px solid yellow; */
    padding: 0 2%;
  }

  .logo {
    /* border: 1px solid green; */
  }

  #menus {
    /* border: 1px solid red; */
    /* display: none; */
    position: absolute;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    max-height: 0px;
    overflow: hidden;
    z-index: 99;
  }

  .logo-img {
    width: 50px;
  }

  .logo h2 {
    font-size: 18px;
  }

  .fa-bars {
    cursor: pointer;
    color: #fff;
    font-size: 20px;
  }

  .slide-img {
    width: 100%;
    object-fit: cover;
  }

  .projects-cards-container {
    margin: auto;
    /* border: 1px solid red; */
    overflow-x: scroll;
    white-space: nowrap;
    width: 60%;
    display: block;
    text-align: center;
    padding: 2% 5%;
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
  }

  .projects-card {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30%;
  }

  .gallery-images {
    margin: auto;
    /* border: 1px solid red; */
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    display: block;
    text-align: center;
    padding: 2% 5%;
  }

  .text {
    word-wrap: break-word;
  }

  .contact {
    flex-direction: column;
    width: 100%;
  }

  .first-section {
    width: 100%;
  }

  .location-map {
    width: 100%;
  }

  .location-map iframe {
    width: 99.99%;
  }

  .form-section {
    width: 100%;
  }

  .contact-info {
    flex-direction: column;
    padding: 5% 0;
  }

  .contact-info > div {
    width: 100%;
    padding: 1% 0;
  }

  .copyright-text p {
    font-size: 12px;
  }

  .back-to-top {
    width: 20px;
  }

  /* about us css here  */
  .about-page {
    /* border: 1px solid red; */
  }

  .about-details {
    /* border: 1px solid green; */
    flex-direction: column-reverse;
  }

  .founder-and-mission {
    /* border: 1px solid red; */
    width: 100%;
    padding: 2% 0;
  }

  .founder-and-director {
    /* border: 1px solid green; */
    width: 100%;
  }

  .our-mission {
    /* border: 1px solid red; */
    width: 100%;
  }

  .founder-img {
    padding: 10% 0;
  }

  .scores {
    justify-content: space-between;
    padding: 3% 2%;
  }

  .score-card {
    width: 33.33%;
  }

  .score-card > p:nth-child(1) {
    font-size: 35px;
  }

  .score-card > p:nth-child(2) {
    font-size: 16px;
  }

  .our-team-cards {
    padding: 5% 0;
    overflow-x: scroll;
  }

  .our-team-card {
    margin: 0 10%;
  }

  .copyright-text {
    padding: 5% 5%;
  }

  .dropdown-content {
    left: 140%;
    top: -340%;
  }

  .dropdown-content p {
    padding: 7% 5%;
  }

  .images img {
    flex-basis: 100%;
    cursor: pointer;
    width: 100%;
  }

  .donate-page-hero-section img:nth-child(2) {
    width: 100%;
    object-fit: cover;
  }

  .contribute {
    width: 90%;
  }

  .selected-amounts > div {
    width: 22%;
    font-size: 22px;
    padding: 3% 2.5%;
  }

  .donate-page h1 {
    padding: 5% 0;
  }

  .hero-section img:nth-child(2) {
    width: 100%;
    object-fit: cover;
  }

  .details {
    flex-direction: column;
  }

  .details > div {
    padding: 5% 0;
  }

  .details > div > h2 {
    font-size: 22px;
  }

  .details > div > p {
    font-size: 18px;
  }

  .project-page h1 {
    font-size: 33px;
  }
}
